@import "./palette.scss";

.c_button {
	padding: 10px 15px;
	background-color: $pastel_dark_blue;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	&:active {
		background-color: $dark_blue;
	}
}