/* palette one */
// $pastel_white:#fffcd7; // pastel yellow
// $less_pastel_white:#fff99f; // pastel yellow

// $pastel_dark_blue:#FAC213; // rich yellow
// $rich_orange:#ffaf10; // richer yellow
// $darker_blue:#D61C4E; // red magenta
/* palette two */
$rich_orange:#f66b0e; // rich orange
$darker_blue: #112B3C;
$dark_blue: #205375;
$pastel_dark_blue: #4e8cb8;
$pastel_white: #efefef;
$less_pastel_white: #e2eaf5;

$faint_blue: rgb(218, 233, 247);