/* palette one */
$pastel_yellow:#fffcd7; // pastel yellow
$less_pastel_yellow:#fff99f; // pastel yellow
$rich_yellow:#FAC213; // rich yellow
$richer_yellow:#ffaf10; // richer yellow
$rich_orange:#F77E21; // rich orange
$red_magenta:#D61C4E; // red magenta
/* palette two */
