@import './palette.scss';

.userprofile {
	.userinfo {
		width: 33%;
		.top {
			.imgcontainer {
				.image {
					$dim: 100px;
					width: $dim;
					height: $dim;
					background-color: white;
					border-radius: 100%;
				}
			}
		}
	}
}