@import "./palette.scss";

.c_wrapper {
	background-color: $pastel_white;
	.navbar {
		padding: 10px;
		background-color: $rich_orange;
		.navelem {
			flex-basis: 114px;
		}
		.mid {
			h1 {
				font-weight: 900;
				font-size: 300%;
			}
		}
		.right {
			position: relative;
			background-color: $darker_blue;
			padding: 7px;
			border-radius: 99px;
			cursor: pointer;
			.name {
				user-select: none;
				font-weight: 600;
				padding-inline: 10px;
				color: white;
			}
			.icon {
				width: 40px;
				.avatar {
					width: 100%;
					max-height: 40px;
					max-width: 40px;
					border-radius: 99px;
				}
			}
			.dropdown {
				&.hidden {
					display: none;
				}
				cursor: default;
				display: flex;
				flex-direction: column;
				gap: 5px;
				background-color: white;
				width: 100px;
				padding: 10px;
				border-radius: 10px;
				position: absolute;
				top: 60px;
				border: 1px solid $darker_blue;
				.bar {
					border-top: 1px solid $darker_blue;
				}
				.elem {
					* {
						color: $darker_blue;
					}
					i {
						font-size: 12px;
					}
					span {
						user-select: none;
					}
					cursor: pointer;
				}
			}
		}
	}
}

.c_wrapper {
	position: relative;
	#chat-container {
		pointer-events: none;
		overflow: hidden;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// max-height: fit-content;
		// max-width: fit-content;
		max-height: 500px;
		max-width: 800px;
		// transition: width 0.4s ease;
		// transition: height 0.4s ease;
		#chat {
			max-height: 500px;
			pointer-events: all;
			$pad: 5px;
			transition: transform 0.2s ease;
			box-sizing: border-box;
			max-width: 800px;
			width: 100%;
			height: 100%;
			// min-width: fit-content;
			padding: $pad;
			border-top-right-radius: 9px;
			background-color: $less_pastel_white;
			.top_section {
				gap: $pad;
				.c_button {
					background-color: $darker_blue;
					&:active {
						background-color: $dark_blue;
						color: $less_pastel_white;
							* {
							color: $less_pastel_white;
						}
					}
					color: $less_pastel_white;
					* {
						color: $less_pastel_white;
					}
					height: 40px;
				}
				.controller {
					font-size: 16px;
					width: 40px;
					height: 40px;
				}
				.nav {
					flex-grow: 5;
					display: flex;
					justify-content: space-between;
					align-items: center;
					// gap: $pad;
					.c_button {
						border-radius: 0px;
						flex-basis: 0px;
						flex-grow: 1;
					}
					$button_border_radius: 99px;
					.c_button:first-child {
						border-top-left-radius: $button_border_radius;
						border-bottom-left-radius: $button_border_radius;
					}
					.c_button:last-child {
						border-top-right-radius: $button_border_radius;
						border-bottom-right-radius: $button_border_radius;
					}
				}
				.c_button.active {
					background-color: $dark_blue;
				}
			}
			.body {
				max-width: 100%;
				padding-block: 10px;
				padding-bottom: 45px;
				height: 100%;
				// box-sizing: border-box;
				.chat {
					box-sizing: border-box;
					.room {
						cursor: pointer;
						box-sizing: border-box;
						padding: 10px;
						background-color: $darker_blue;
						border-radius: 7px;
						min-height: 50px;
						.name {
							color: $less_pastel_white;
							font-size: 24px;
							font-weight: 600;
						}
						.owner {
							color: $less_pastel_white;
							font-size: 12px;
						}
						.icon {
							color: $less_pastel_white;
							width: 20px;
							height: 20px;
						}
						.num {
							color: $less_pastel_white;
							font-weight: 600;
							font-size: 16px;
						}
					}
				}
				.chatinterface {
					max-width: 100%;
					border: 2px solid $darker_blue;
					// background-color: $dark_blue;
					border-radius: 10px;
					.header {
						padding: 5px 10px;
						border-top-left-radius: 7px;
						border-top-right-radius: 7px;
						background-color: $darker_blue;
						min-height: 40px;
						color: $less_pastel_white;
						border-bottom: 2px solid $less_pastel_white;
						.users, .back {
							font-size: 16px;
							cursor: pointer;
						}
					}
					.messages {
						// background-color: $pastel_dark_blue;
						// margin-inline: 15px;
						height: 85%;
						border-bottom-left-radius: 7px;
						border-bottom-right-radius: 7px;
						max-width: 100%;
						overflow-y: scroll;
						.msgcontainer {
							padding-block: 5px;
							padding-left: 5px;
							max-width: 100%;
							min-height: 100%;
							max-height: unset;
							.message {
								width: fit-content;
								max-width: 80%;
								.container {
									width: 100%;
									// margin-inline: 5px;
									padding: 5px;
									// width: fit-content;
									.profilepic {
										width: fit-content;
										img {
											border-radius: 999px;
										}
									}
									.message_text {
										// word-wrap: break-all;
										overflow-wrap: break-word;
										white-space: pre-wrap;	
										padding: 10px 10px;
										padding-right: 40px;
										padding-bottom: 20px;
										min-height: 40px;
										width: 100%;
										max-width: 100%;
										border-radius: 7px;
										background-color: $less_pastel_white;
									}
								}
								&.notmine {
									align-self: flex-start;
									.message_text {
										background-color: white;
									}
								}
								&.mine {
									align-self: flex-end;
									.message_text {
										color: $less_pastel_white;
										background-color: $darker_blue;
									}
								}
							}
						}
					}
					.input {
						gap: 10px;
						border-top: 2px solid rgba($darker_blue, 0.2);
						// background-color: gray;
						border-bottom-left-radius: 7px;
						border-bottom-right-radius: 7px;
						height: 60px;
						padding-inline: 15px;
						padding-block: 10px;
						align-items: stretch;
						.text_input {
							outline: 0;
							padding-top: 5px;
							resize: none;
							width: 90%;
							height: 100%;
							padding-inline: 5px;
							border-radius: 7px;
							border: 2px solid rgb(28, 54, 83);
							// font-weight: 700;
							background-color: white;
							color: $darker_blue;
							font-size: 16px;
						}
						.submit {
							border-radius: 7px;
							cursor: pointer;
							width: 10%;
							background-color: $pastel_dark_blue;
						}
					}
				}
				.rooms {
					.top_section {
						.roomnav {
							flex-grow: 5;
							.c_button {
								flex-grow: 1;
								flex-basis: 0px;
							}
						}
					}
					.roomsbody {
						flex-grow: 1;
					}
				}
			}
		}
	}
}
