<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <h1>Multipart File Upload</h1>
        <form id="form" method="post" action="/users/upload" enctype="multipart/form-data">
            <div class="input-group">
                <label for="files">Select files</label>
                <input id="file" name="file"  type="file" multiple />
            </div>
            <button class="submit-btn" type="submit">Upload</button>
        </form>
    </div>
</body>
</body>
</html>