<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Websockets Client</title>
    <link href="/style.css" rel="stylesheet">
    <link href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <main id="v-app">
        <section class="chat">
           

            <!-- Tabs -->
            <div class="left-panel">
                <h1>Rooms</h1>
                <div class="tab-row">
                    <button class="tab-btn" :class="{ active: activeRoom == 'general' }" @click="activeRoom = 'general'">General</button>
                    <button class="tab-btn" :class="{ active: activeRoom == 'random' }" @click="activeRoom = 'random'">Random</button>
                    <button class="tab-btn" :class="{ active: activeRoom == 'food' }" @click="activeRoom = 'food'">food</button>
                </div>

                <div class="tab-row">
                    Status: {{ isMemberOfActiveRoom ? 'Joined' : 'NOT Joined' }} <button @click="toggleRoomMembership()">{{ isMemberOfActiveRoom ? 'Leave' : 'Join' }}</button>
                </div>

            </div>
            
            <div class= "right-panel"> 
                <div class="messagee-container">
                  <div v-for="msg of messages[activeRoom]">
                    <strong>{{ msg.sender }}:</strong> {{ msg.message }}
                  </div>
            </div>
          
            <div class="message-input">
                <form>
                  <label>Message: </label>
                  <input v-model="text" type="text"/>
        
                  <button type="submit" @click.prevent="sendChatMessage()">Send</button>
                </form>
              </div>

            <!-- /Tabs -->
        </section>
    </main>
    <script>
        Vue.component('alerts-component', VueSimpleNotify.VueSimpleNotify);
        var app = new Vue({
            el: '#v-app',
            data: {
                username: '',
                text: '',
                messages: {
                    general: [],
                    random: [],
                    food: []
                },
                socket: { chat: null },
                activeRoom: 'general',
                rooms: {
                    general: false,
                    random: false,
                    food: false
                }
            },
            methods: {
                sendChatMessage() {
                    if (this.isMemberOfActiveRoom) {
                        this.socket.chat.emit('chatToServer', { sender: this.username, room: this.activeRoom, message: this.text });
                        this.text = "";
                    } else {
                        alert('You must join the room before sending messages!');
                    }
                },
                receiveChatMessage(msg) {
                    this.messages[msg.room].push(msg);
                },
                toggleRoomMembership() {
                    if (this.isMemberOfActiveRoom) {
                        this.socket.chat.emit('leaveRoom', this.activeRoom);
                    } else {
                        this.socket.chat.emit('joinRoom', this.activeRoom);
                    }
                }
            },
            computed: {
                isMemberOfActiveRoom() {
                    return this.rooms[this.activeRoom];
                }
            },
            created() {
                this.username = prompt('Enter your username:');

                this.socket.chat = io('http://localhost:3000/chatNamespace');
                this.socket.chat.on('chatToClient', (msg) => {
                    this.receiveChatMessage(msg);
                });
                this.socket.chat.on('connect', () => {
                    this.toggleRoomMembership();
                });
                this.socket.chat.on('joinedRoom', (room) => {
                    this.rooms[room] = true;
                });
                this.socket.chat.on('leftRoom', (room) => {
                    this.rooms[room] = false;
                });

            }
        });
    
    </script>
</body>
</html>