main {
    display: grid;
}

section.chat {
    grid-area: chat;
}


.tab-row {
    padding-top: 40px;
}

.tab-btn.active {
    background: blue;
    color: white;
}

.left-panel {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 230px;
    overflow-x: hidden;
    background-color: #0a484c;
    color: white;
  }
  
  .right-panel {
    margin-left: 260px;
  }