.container {
	position: fixed;
	top: 35%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -35%);
}

.container h1 {
	color: black;
	padding: 0;
	margin: 10px 0;
	width: 50%;
	float: left;
	font-size: -webkit-xxx-large;
}

.container h1:last-child {
	text-align: right;
}

.container canvas {
	border-radius: 20px;
}